* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding: 10px 5px;
	background-color: #c8553d;
}

.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 5px;
	font-size: 25px;
}

.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}

header h1 {
	float: left;
	padding: 15px 0;
	color: #c8553d;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
}

header ul li a {
	padding: 25px 20px;
	display: inline-block;
}

header ul li a:hover {
	background-color: #c8553d;
	color: #fff;
}

.banner {
	height: 60vh;
	background-image: url(../banner.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid;
	color: #fff;
	font-size: 25px;
}

.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(200, 85, 61, 0.6);
}

section {
	padding: 50px 0;
}

section h3 {
	text-align: center;
	padding: 20px 0;
	color: #c8553d;
	margin-bottom: 5px;
}

.about {
	padding-bottom: 50px;
}

.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	text-align: center;
	padding-bottom: 20px;
}

.service {
	background-color: #f9f9f9;
}

.box {
	color: #c8553d;
}

.box:after {
	content: '';
	display: block;
	clear: both;
}

.box .col-3 {
	width: 33.33%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}

.icon {
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 35px;
	margin: 0 auto;
}

.box .col-3 h4 {
	margin: 20px 0;

}

footer {
	padding: 30px 0;
	background-color: #c8553d;
	color: #fff;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.container {
		width: 90%;
	}

	header h1 {
		text-align: center;
		float: none;
	}

	header ul {
		text-align: center;
		float: none;
	}

	.box .col-3 {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}

}
